In [1]:
# dependencies
import numpy as np
import pandas as pd
import os
from sqlalchemy import create_engine
# Create a POSTGRES database with the name 'COVID19_db'
# Replace username:password if it's not set to postgres:postgres
DATABASE_URI = os.environ.get('DATABASE_URL', '') or "postgresql://postgres:password@localhost:5432/COVID19_db"
print(DATABASE_URI)

engine = create_engine(DATABASE_URI)

postgresql://postgres:password@localhost:5432/COVID19_db

In [2]:
states_data=case_death_df = pd.read_sql("select date,s.state_name,positive as cases,death,pos_inc as new_cases,death_inc as new_deaths from covid_data_states c join states_data s on c.state = s.state order by c.state, date", con=engine)

In [3]:
states_data

            date state_name  cases  death  new_cases  new_deaths
0     2020-03-06     Alaska      0      0          0           0
1     2020-03-07     Alaska      0      0          0           0
2     2020-03-08     Alaska      0      0          0           0
3     2020-03-09     Alaska      0      0          0           0
4     2020-03-10     Alaska      0      0          0           0
...          ...        ...    ...    ...        ...         ...
1701  2020-04-03    Wyoming    162      0         12           0
1702  2020-04-04    Wyoming    187      0         25           0
1703  2020-04-05    Wyoming    197      0         10           0
1704  2020-04-06    Wyoming    210      0         13           0
1705  2020-04-07    Wyoming    216      0          6           0

[1706 rows x 6 columns]

In [4]:
cases=states_data[["date","state_name","cases"]]
case2=cases.pivot(index='date', columns='state_name', values='cases')
case2=case2.fillna(0)

In [5]:
new_cases=states_data[["date","state_name","new_cases"]]
new_case2=new_cases.pivot(index='date', columns='state_name', values='new_cases')
new_case2=new_case2.fillna(0)

In [6]:
death=states_data[["date","state_name","death"]]
death2=death.pivot(index='date', columns='state_name', values='death')
death2=death2.fillna(0)

In [7]:
new_deaths=states_data[["date","state_name","new_deaths"]]
new_deaths2=new_deaths.pivot(index='date', columns='state_name', values='new_deaths')
new_deaths2=new_deaths2.fillna(0)

In [8]:
case2.to_csv (r"C:\Users\hxl08\OneDrive\Desktop\Homework\Final-Project\Leo's sandbox\static\data\cases.csv", index = True, header=True)
new_case2.to_csv (r"C:\Users\hxl08\OneDrive\Desktop\Homework\Final-Project\Leo's sandbox\static\data\new_case.csv", index = True, header=True)
death2.to_csv (r"C:\Users\hxl08\OneDrive\Desktop\Homework\Final-Project\Leo's sandbox\static\data\death.csv", index = True, header=True)
new_deaths2.to_csv (r"C:\Users\hxl08\OneDrive\Desktop\Homework\Final-Project\Leo's sandbox\static\data\new_deaths.csv", index = True, header=True)