In [1]:
import pandas as pd
import os
from datetime import datetime, timedelta
from sqlalchemy import create_engine

In [2]:

# Create a POSTGRES database with the name 'COVID19_db'
# Replace username:password if it's not set to postgres:postgres
DATABASE_URI = os.environ.get('DATABASE_URL', '') or "postgresql://postgres:password@localhost:5432/COVID19_db"
print(DATABASE_URI)

engine = create_engine(DATABASE_URI)

postgresql://postgres:password@localhost:5432/COVID19_db

In [6]:
newcase_death_df = pd.read_sql("select date,s.state_name,pos_inc as new_cases,hospital_inc as new_hospitalizations,death_inc as new_deaths from covid_data_states c join states_data s on c.state = s.state order by c.state, date", con=engine)

In [7]:
newcase_death_df

            date state_name  new_cases  new_hospitalizations  new_deaths
0     2020-03-06     Alaska          0                     0           0
1     2020-03-07     Alaska          0                     0           0
2     2020-03-08     Alaska          0                     0           0
3     2020-03-09     Alaska          0                     0           0
4     2020-03-10     Alaska          0                     0           0
...          ...        ...        ...                   ...         ...
1548  2020-03-31    Wyoming         15                     0           0
1549  2020-04-01    Wyoming         21                     1           0
1550  2020-04-02    Wyoming         20                     1           0
1551  2020-04-03    Wyoming         12                     2           0
1552  2020-04-04    Wyoming         25                     2           0

[1553 rows x 5 columns]