In [1]:
import pandas as pd
import os
from datetime import datetime, timedelta
from sqlalchemy import create_engine

# Setup Steps

In [2]:
# Set where .csv files needs to be saved
base_output_path = "../../../data"

# Create a POSTGRES database with the name 'COVID19_db'
# Replace username:password if it's not set to postgres:postgres
DATABASE_URI = os.environ.get('DATABASE_URL', '') or "postgresql://postgres:password@localhost:5432/COVID19_db"
print(DATABASE_URI)

engine = create_engine(DATABASE_URI)

postgresql://postgres:password@localhost:5432/COVID19_db

In [3]:
# Set URL's

# REALTIME DOWNLOADS
url_covid = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/'
# url_worldometer = 'https://www.worldometers.info/coronavirus/coronavirus-age-sex-demographics/'
url_covid_states = 'https://raw.githubusercontent.com/COVID19Tracking/covid-tracking-data/master/data/states_daily_4pm_et.csv'

# MANUALLY DOWNLOAD FIRST - url_covid_ind_cases = 'https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset#COVID19_line_list_data.csv
# url_covid_ind_cases = os.path.join(base_output_path, 'COVID19_open_line_list.csv')
url_covid_ind_cases = os.path.join(base_output_path, 'COVID19_line_list_data.csv')
url_tests_and_hospital = os.path.join(base_output_path, 'us_states_covid19_daily.csv')
url_states = os.path.join(base_output_path, 'states.csv')
url_census = os.path.join(base_output_path, 'acs2017_census_tract_data.csv')

# url_BoL_stats

In [4]:
# Find last time covid_data was loaded
query_str = open('sql/max_db_date.sql')
query_text = ""
for text in query_str:
    query_text = query_text + text

rs = engine.execute(query_text)

for i in rs:
    last_db_date = (i[0])
print(last_db_date)

2020-03-27

# Worldometer data (age, gender, pre-conditions)

In [5]:
# Get Age, Gender and PreCondition Statistics
# df_worldometer_stats = pd.read_html(url_worldometer, header = 0)
# df_age = df_worldometer_stats[0].iloc[:,0:3].fillna(0)
# df_gender = df_worldometer_stats[1].iloc[:,0:2].fillna(0)
# df_precondition = df_worldometer_stats[2].iloc[:,0:3].fillna(0)

# df_age = df_age.rename(columns={'AGE':'age','DEATH RATE confirmed cases':'pct_deaths_confirmed','DEATH RATE all cases':'pct_deaths_all'})
# df_age['pct_deaths_confirmed'] = df_age['pct_deaths_confirmed'].astype(str).str[:-1]
# df_age['pct_deaths_confirmed'] = pd.to_numeric(df_age['pct_deaths_confirmed']).fillna(0)
# df_age['pct_deaths_all'] = df_age['pct_deaths_all'].str.replace('no fatalities','0')
# df_age['pct_deaths_all'] = pd.to_numeric(df_age['pct_deaths_all'].astype(str).str[:-1]).fillna(0)

# df_gender = df_gender.rename(columns={'SEX':'gender','DEATH RATE confirmed cases':'pct_deaths_confirmed'})
# df_gender['pct_deaths_confirmed'] = pd.to_numeric(df_gender['pct_deaths_confirmed'].astype(str).str[:-1])

# df_precondition = df_precondition.rename(columns={'PRE-EXISTING CONDITION':'precondition','DEATH RATE confirmed cases':'pct_deaths_confirmed','DEATH RATE all cases':'pct_deaths_all'})
# df_precondition['pct_deaths_confirmed'] = pd.to_numeric(df_precondition['pct_deaths_confirmed'].astype(str).str[:-1]).fillna(0)
# df_precondition['pct_deaths_all'] = pd.to_numeric(df_precondition['pct_deaths_all'].astype(str).str[:-1])

In [6]:
# df_age
# output_path = os.path.join(base_output_path, "age_data.csv")
# df_age.to_csv(output_path)
url_age = os.path.join(base_output_path, 'age_data.csv')
df_age = pd.read_csv(url_age)
df_age

               age  pct_deaths_confirmed  pct_deaths_all
0    80+ years old                  21.9            14.8
1  70-79 years old                   0.0             8.0
2  60-69 years old                   0.0             3.6
3  50-59 years old                   0.0             1.3
4  40-49 years old                   0.0             0.4
5  30-39 years old                   0.0             0.2
6  20-29 years old                   0.0             0.2
7  10-19 years old                   0.0             0.2
8    0-9 years old                   0.0             0.0

In [7]:
# df_gender
# output_path = os.path.join(base_output_path, "gender_data.csv")
# df_gender.to_csv(output_path
url_gender = os.path.join(base_output_path, 'gender_data.csv')
df_gender = pd.read_csv(url_gender)
df_gender

   gender  pct_deaths_confirmed
0    Male                   4.7
1  Female                   2.8

In [8]:
# df_precondition
# output_path = os.path.join(base_output_path, "precondition_data.csv")
# df_precondition.to_csv(output_path)
url_precondition = os.path.join(base_output_path, 'precondition_data.csv')
df_precondition = pd.read_csv(url_precondition)
df_precondition

                  precondition  pct_deaths_confirmed  pct_deaths_all
0       Cardiovascular disease                  13.2            10.5
1                     Diabetes                   9.2             7.3
2  Chronic respiratory disease                   8.0             6.3
3                 Hypertension                   8.4             6.0
4                       Cancer                   7.6             5.6
5   no pre-existing conditions                   0.0             0.9

In [9]:
engine.execute( '''TRUNCATE TABLE age_data''' )
df_age.to_sql(name='age_data', con=engine, if_exists='append', index=False)

engine.execute( '''TRUNCATE TABLE gender_data''' )
df_gender.to_sql(name='gender_data', con=engine, if_exists='append', index=False)

engine.execute( '''TRUNCATE TABLE precondition_data''' )
df_precondition.to_sql(name='precondition_data', con=engine, if_exists='append', index=False)

# Census Data

In [10]:
# Census data
df_census = pd.read_csv(url_census)
df_census.head()

,TractId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga County,1845,899,946,2.4,86.3,5.2,0.0,...,0.5,0.0,2.1,24.5,881,74.2,21.2,4.5,0.0,4.6
1,1001020200,Alabama,Autauga County,2172,1167,1005,1.1,41.6,54.5,0.0,...,0.0,0.5,0.0,22.2,852,75.9,15.0,9.0,0.0,3.4
2,1001020300,Alabama,Autauga County,3385,1533,1852,8.0,61.4,26.5,0.6,...,1.0,0.8,1.5,23.1,1482,73.3,21.1,4.8,0.7,4.7
3,1001020400,Alabama,Autauga County,4267,2001,2266,9.6,80.3,7.1,0.5,...,1.5,2.9,2.1,25.9,1849,75.8,19.7,4.5,0.0,6.1
4,1001020500,Alabama,Autauga County,9965,5054,4911,0.9,77.5,16.4,0.0,...,0.8,0.3,0.7,21.0,4787,71.4,24.1,4.5,0.0,2.3

In [11]:
engine.execute( '''TRUNCATE TABLE census_data''' )
df_census.to_sql(name='census_data', con=engine, if_exists='append', index=False)

# States and Emergency Dates

In [12]:
# Get States and Emergency Dates data
df_states = pd.read_csv(url_states)
df_states.head()

   Unnamed: 0  state_name state emergency_date
0           1     Alabama    AL     2020-03-13
1           2      Alaska    AK     2020-03-11
2           3     Arizona    AZ     2020-03-11
3           4    Arkansas    AR     2020-03-11
4           5  California    CA     2020-03-04

In [13]:
engine.execute( '''TRUNCATE TABLE states_data''' )
df_states.to_sql(name='states_data', con=engine, if_exists='append', index=False)

# Number of tests performed and people hospitalized per state

In [14]:
# Test data statistics
df_tests_and_hospital = pd.read_csv(url_tests_and_hospital).fillna(0)

df_tests_and_hospital['date'] = pd.to_datetime(df_tests_and_hospital['date'],format='%Y%m%d')
df_tests_and_hospital['dateChecked'] = pd.to_datetime(df_tests_and_hospital['dateChecked']).dt.date
df_tests_and_hospital.head()

,date,state,positive,negative,pending,hospitalized,death,total,dateChecked,totalTestResults,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,2020-03-25,AK,42.0,1649.0,0.0,1.0,1.0,1691,2020-03-25,1691,1.0,1.0,663.0,6.0,669.0
1,2020-03-25,AL,283.0,2529.0,0.0,0.0,0.0,2812,2020-03-25,2812,0.0,0.0,423.0,68.0,491.0
2,2020-03-25,AR,280.0,1437.0,0.0,22.0,2.0,1717,2020-03-25,1717,2.0,0.0,490.0,62.0,552.0
3,2020-03-25,AS,0.0,0.0,0.0,0.0,0.0,0,2020-03-25,0,0.0,0.0,0.0,0.0,0.0
4,2020-03-25,AZ,450.0,323.0,53.0,8.0,6.0,826,2020-03-25,773,1.0,0.0,10.0,93.0,103.0

In [15]:
engine.execute( '''TRUNCATE TABLE tests_and_hospital_data''' )
df_tests_and_hospital.to_sql(name='tests_and_hospital_data', con=engine, if_exists='append', index=False)

In [16]:
# Test data statistics
df_covid_states = pd.DataFrame()
df_covid_states = pd.read_csv(url_covid_states).fillna(0)

df_covid_states['date'] = pd.to_datetime(df_covid_states['date'],format='%Y%m%d')
df_covid_states['dateChecked'] = pd.to_datetime(df_covid_states['dateChecked']).dt.date
df_covid_states = df_covid_states.rename(columns = {'total':'dontuse_total','dateChecked':'check_date','totalTestResults':'total_tests','deathIncrease':'death_inc','hospitalizedIncrease':'hospital_inc','negativeIncrease':'neg_inc','positiveIncrease':'pos_inc','totalTestResultsIncrease':'tot_tests_inc'})
df_covid_states.head()

,date,state,positive,negative,pending,hospitalized,death,dontuse_total,check_date,total_tests,fips,death_inc,hospital_inc,neg_inc,pos_inc,tot_tests_inc
0,2020-03-27,AK,69.0,2319.0,13.0,3.0,1.0,2401,2020-03-27,2388,2,0.0,0.0,518.0,10.0,528.0
1,2020-03-27,AL,587.0,4184.0,0.0,0.0,3.0,4771,2020-03-27,4771,1,2.0,0.0,591.0,81.0,672.0
2,2020-03-27,AR,381.0,1545.0,0.0,48.0,3.0,1926,2020-03-27,1926,5,0.0,7.0,41.0,46.0,87.0
3,2020-03-27,AS,0.0,0.0,0.0,0.0,0.0,0,2020-03-27,0,60,0.0,0.0,0.0,0.0,0.0
4,2020-03-27,AZ,736.0,7455.0,30.0,0.0,13.0,8221,2020-03-27,8191,4,5.0,0.0,7108.0,159.0,7267.0

In [17]:
# engine.execute( '''TRUNCATE TABLE covid_data_all''' )
df_covid_states.to_sql(name='covid_data_states', con=engine, if_exists='append', index=False)

# Individual Case Study

In [18]:
# Get data about individual cases)
df_ind_cases = pd.read_csv(url_covid_ind_cases)
df_ind_cases = df_ind_cases.rename(columns={'wuhan(0)_not_wuhan(1)':'wuhan_1_or_0'})
df_ind_cases.head()

,id,case_in_country,reporting date,Unnamed: 3,summary,location,country,gender,age,symptom_onset,...,recovered,symptom,source,link,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,1,NaN,1/20/2020,NaN,First confirmed imported COVID-19 pneumonia pa...,"Shenzhen, Guangdong",China,male,66.0,01/03/20,...,0,NaN,Shenzhen Municipal Health Commission,http://wjw.sz.gov.cn/wzx/202001/t20200120_1898...,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,1/20/2020,NaN,First confirmed imported COVID-19 pneumonia pa...,Shanghai,China,female,56.0,1/15/2020,...,0,NaN,Official Weibo of Shanghai Municipal Health Co...,https://www.weibo.com/2372649470/IqogQhgfa?fro...,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,1/21/2020,NaN,First confirmed imported cases in Zhejiang: pa...,Zhejiang,China,male,46.0,01/04/20,...,0,NaN,Health Commission of Zhejiang Province,http://www.zjwjw.gov.cn/art/2020/1/21/art_1202...,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,1/21/2020,NaN,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,female,60.0,NaN,...,0,NaN,人民日报官方微博,https://m.weibo.cn/status/4463235401268457?,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,1/21/2020,NaN,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,male,58.0,NaN,...,0,NaN,人民日报官方微博,https://m.weibo.cn/status/4463235401268457?,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# engine.execute( '''TRUNCATE TABLE individual_case_data''' )
df_ind_cases.to_sql(name='individual_case_data', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "case_in_country" of relation "individual_case_data" does not exist
LINE 1: INSERT INTO individual_case_data (id, case_in_country, "repo...
                                              ^

[SQL: INSERT INTO individual_case_data (id, case_in_country, "reporting date", "Unnamed: 3", summary, location, country, gender, age, symptom_onset, "If_onset_approximated", hosp_visit_date, exposure_start, exposure_end, "visiting Wuhan", "from Wuhan", death, recovered, symptom, source, link, "Unnamed: 21", "Unnamed: 22", "Unnamed: 23", "Unnamed: 24", "Unnamed: 25", "Unnamed: 26") VALUES (%(id)s, %(case_in_country)s, %(reporting date)s, %(Unnamed: 3)s, %(summary)s, %(location)s, %(country)s, %(gender)s, %(age)s, %(symptom_onset)s, %(If_onset_approximated)s, %(hosp_visit_date)s, %(exposure_start)s, %(exposure_end)s, %(visiting Wuhan)s, %(from Wuhan)s, %(death)s, %(recovered)s, %(symptom)s, %(source)s, %(link)s, %(Unnamed: 21)s, %(Unnamed: 22)s, %(Unnamed: 23)s, %(Unnamed: 24)s, %(Unnamed: 25)s, %(Unnamed: 26)s)]
[parameters: ({'id': 1, 'case_in_country': None, 'reporting date': '1/20/2020', 'Unnamed: 3': None, 'summary': 'First confirmed imported COVID-19 pneumonia patient in Shenzhen (from Wuhan): male, 66, shenzheng residence, visited relatives in Wuhan on 12/29/2019 ... (106 characters truncated) ... 01/11/2020, sample sent to China CDC for testing on 01/18/2020, confirmed on 01/19/2020. 8 others under medical observation, contact tracing ongoing.', 'location': 'Shenzhen, Guangdong', 'country': 'China', 'gender': 'male', 'age': 66.0, 'symptom_onset': '01/03/20', 'If_onset_approximated': 0.0, 'hosp_visit_date': '01/11/20', 'exposure_start': '12/29/2019', 'exposure_end': '01/04/20', 'visiting Wuhan': 1, 'from Wuhan': 0.0, 'death': '0', 'recovered': '0', 'symptom': None, 'source': 'Shenzhen Municipal Health Commission', 'link': 'http://wjw.sz.gov.cn/wzx/202001/t20200120_18987787.htm', 'Unnamed: 21': None, 'Unnamed: 22': None, 'Unnamed: 23': None, 'Unnamed: 24': None, 'Unnamed: 25': None, 'Unnamed: 26': None}, {'id': 2, 'case_in_country': None, 'reporting date': '1/20/2020', 'Unnamed: 3': None, 'summary': 'First confirmed imported COVID-19 pneumonia patient in Shanghai (from Wuhan): female, 56, Wuhan residence, arrived in Shanghai from Wuhan on 01/12/2020, symptom onset and visited fever clinic on 01/15/2020, laboratory confirmed on 01/20/2020', 'location': 'Shanghai', 'country': 'China', 'gender': 'female', 'age': 56.0, 'symptom_onset': '1/15/2020', 'If_onset_approximated': 0.0, 'hosp_visit_date': '1/15/2020', 'exposure_start': None, 'exposure_end': '01/12/20', 'visiting Wuhan': 0, 'from Wuhan': 1.0, 'death': '0', 'recovered': '0', 'symptom': None, 'source': 'Official Weibo of Shanghai Municipal Health Commission', 'link': 'https://www.weibo.com/2372649470/IqogQhgfa?from=page_1001062372649470_profile&wvr=6&mod=weibotime&type=comment', 'Unnamed: 21': None, 'Unnamed: 22': None, 'Unnamed: 23': None, 'Unnamed: 24': None, 'Unnamed: 25': None, 'Unnamed: 26': None}, {'id': 3, 'case_in_country': None, 'reporting date': '1/21/2020', 'Unnamed: 3': None, 'summary': 'First confirmed imported cases in Zhejiang: patient is male, 46, lives in Wuhan, self-driving from Wuhan to Hangzhou on 01/03/2020, symptom onset 01/04/2020, hospitalized on 01/17/2020, sample deliver to China CDC for testing on 01/20/2020, test positive on 01/21/2020.', 'location': 'Zhejiang', 'country': 'China', 'gender': 'male', 'age': 46.0, 'symptom_onset': '01/04/20', 'If_onset_approximated': 0.0, 'hosp_visit_date': '1/17/2020', 'exposure_start': None, 'exposure_end': '01/03/20', 'visiting Wuhan': 0, 'from Wuhan': 1.0, 'death': '0', 'recovered': '0', 'symptom': None, 'source': 'Health Commission of Zhejiang Province', 'link': 'http://www.zjwjw.gov.cn/art/2020/1/21/art_1202101_41786033.html', 'Unnamed: 21': None, 'Unnamed: 22': None, 'Unnamed: 23': None, 'Unnamed: 24': None, 'Unnamed: 25': None, 'Unnamed: 26': None}, {'id': 4, 'case_in_country': None, 'reporting date': '1/21/2020', 'Unnamed: 3': None, 'summary': 'new confirmed imported COVID-19 pneumonia in Tianjin: female, age 60, recently visited Wuhan, visited fever clinic on 01/19/2020 in Tianjin then quarantined immediately.', 'location': 'Tianjin', 'country': 'China', 'gender': 'female', 'age': 60.0, 'symptom_onset': None, 'If_onset_approximated': None, 'hosp_visit_date': '1/19/2020', 'exposure_start': None, 'exposure_end': None, 'visiting Wuhan': 1, 'from Wuhan': 0.0, 'death': '0', 'recovered': '0', 'symptom': None, 'source': '人民日报官方微博', 'link': 'https://m.weibo.cn/status/4463235401268457?', 'Unnamed: 21': None, 'Unnamed: 22': None, 'Unnamed: 23': None, 'Unnamed: 24': None, 'Unnamed: 25': None, 'Unnamed: 26': None}, {'id': 5, 'case_in_country': None, 'reporting date': '1/21/2020', 'Unnamed: 3': None, 'summary': 'new confirmed imported COVID-19 pneumonia in Tianjin: male, age 58, visited fever clinic on 01/14/2020.', 'location': 'Tianjin', 'country': 'China', 'gender': 'male', 'age': 58.0, 'symptom_onset': None, 'If_onset_approximated': None, 'hosp_visit_date': '1/14/2020', 'exposure_start': None, 'exposure_end': None, 'visiting Wuhan': 0, 'from Wuhan': 0.0, 'death': '0', 'recovered': '0', 'symptom': None, 'source': '人民日报官方微博', 'link': 'https://m.weibo.cn/status/4463235401268457?', 'Unnamed: 21': None, 'Unnamed: 22': None, 'Unnamed: 23': None, 'Unnamed: 24': None, 'Unnamed: 25': None, 'Unnamed: 26': None}, {'id': 6, 'case_in_country': None, 'reporting date': '1/21/2020', 'Unnamed: 3': None, 'summary': 'First confirmed imported COVID-19 pneumonia patient in Chongqing (from Wuhan): female, age 44, symptoms onset on 01/15/2020, laboratory confirmed on 01/21/2020.', 'location': 'Chongqing', 'country': 'China', 'gender': 'female', 'age': 44.0, 'symptom_onset': '1/15/2020', 'If_onset_approximated': 0.0, 'hosp_visit_date': None, 'exposure_start': None, 'exposure_end': None, 'visiting Wuhan': 0, 'from Wuhan': 1.0, 'death': '0', 'recovered': '0', 'symptom': None, 'source': 'Chongqing Municipal Health Commission', 'link': 'http://wsjkw.cq.gov.cn/tzgg/20200121/249730.html', 'Unnamed: 21': None, 'Unnamed: 22': None, 'Unnamed: 23': None, 'Unnamed: 24': None, 'Unnamed: 25': None, 'Unnamed: 26': None}, {'id': 7, 'case_in_country': None, 'reporting date': '1/21/2020', 'Unnamed: 3': None, 'summary': 'First confirmed imported COVID-19 pneumonia patient in Sichuan (from Wuhan): Male, 34 years old, works in Wuhan, symptoms onset on 01/11/2020 in Chengdu.', 'location': 'Sichuan', 'country': 'China', 'gender': 'male', 'age': 34.0, 'symptom_onset': '01/11/20', 'If_onset_approximated': 0.0, 'hosp_visit_date': None, 'exposure_start': None, 'exposure_end': None, 'visiting Wuhan': 0, 'from Wuhan': 1.0, 'death': '0', 'recovered': '0', 'symptom': None, 'source': '央视新闻', 'link': 'https://m.weibo.cn/status/4463300522087848?', 'Unnamed: 21': None, 'Unnamed: 22': None, 'Unnamed: 23': None, 'Unnamed: 24': None, 'Unnamed: 25': None, 'Unnamed: 26': None}, {'id': 8, 'case_in_country': None, 'reporting date': '1/21/2020', 'Unnamed: 3': None, 'summary': 'new confirmed imported COVID-19 pneumonia patient in Beijing: male, 37, visited Wuhan on 01/10/2020, return to Beijing on 01/11/2020, symptoms onset on 01/14/2020, hospitalized on 01/20/2020.', 'location': 'Beijing', 'country': 'China', 'gender': 'male', 'age': 37.0, 'symptom_onset': '1/14/2020', 'If_onset_approximated': 0.0, 'hosp_visit_date': '1/20/2020', 'exposure_start': '01/10/20', 'exposure_end': '01/11/20', 'visiting Wuhan': 1, 'from Wuhan': 0.0, 'death': '0', 'recovered': '0', 'symptom': None, 'source': 'Beijing Municipal Health Commission', 'link': 'http://wjw.beijing.gov.cn/xwzx_20031/wnxw/202001/t20200121_1620353.html', 'Unnamed: 21': None, 'Unnamed: 22': None, 'Unnamed: 23': None, 'Unnamed: 24': None, 'Unnamed: 25': None, 'Unnamed: 26': None}  ... displaying 10 of 1085 total bound parameter sets ...  {'id': 1084, 'case_in_country': 1.0, 'reporting date': '2/25/2020', 'Unnamed: 3': None, 'summary': 'new COVID-19 patient confirmed in Croatia: male, recently returned from Milan, was there from 2/19-2/21', 'location': 'Croatia', 'country': 'Croatia', 'gender': 'male', 'age': None, 'symptom_onset': None, 'If_onset_approximated': None, 'hosp_visit_date': None, 'exposure_start': '2/19/2020', 'exposure_end': '2/21/2020', 'visiting Wuhan': 0, 'from Wuhan': 0.0, 'death': '0', 'recovered': '0', 'symptom': None, 'source': 'Reuters', 'link': 'https://www.reuters.com/article/us-croatia-coronavirus/croatia-confirms-its-first-case-of-coronavirus-infection-idUSKBN20J1OB', 'Unnamed: 21': None, 'Unnamed: 22': None, 'Unnamed: 23': None, 'Unnamed: 24': None, 'Unnamed: 25': None, 'Unnamed: 26': None}, {'id': 1085, 'case_in_country': 1.0, 'reporting date': '2/25/2020', 'Unnamed: 3': None, 'summary': 'new COVID-19 patient confirmed in Switzerland: male, 70, infected in Milan during an event 2/15, symptom onset 2/17', 'location': 'Bern', 'country': 'Switzerland', 'gender': 'male', 'age': 70.0, 'symptom_onset': '2/17/2020', 'If_onset_approximated': None, 'hosp_visit_date': None, 'exposure_start': '2/15/2020', 'exposure_end': '2/15/2020', 'visiting Wuhan': 0, 'from Wuhan': 0.0, 'death': '0', 'recovered': '0', 'symptom': None, 'source': 'Reuters', 'link': 'https://www.reuters.com/article/uk-switzerland-coronavirus/swiss-authorities-confirm-first-case-of-coronavirus-idUSKBN20J1ZO', 'Unnamed: 21': None, 'Unnamed: 22': None, 'Unnamed: 23': None, 'Unnamed: 24': None, 'Unnamed: 25': None, 'Unnamed: 26': None})]
(Background on this error at: http://sqlalche.me/e/f405)

# COVID-19 Data from Johns Hopkins

In [ ]:
# Read data into Dataframes
df_covid_phase0 = pd.DataFrame()
df_covid_phase1 = pd.DataFrame()
df_covid_phase2 = pd.DataFrame()
df_covid_phase3 = pd.DataFrame()
df_covid_phase4 = pd.DataFrame() 

# Covid data starts at 01-22-2020.csv save in format 2020-02-01 - LOOP over all / just new ones
# Date format has changed 3 times so date ranges to be processed:
# Phase 0: 2020-01-22 - 2020-01-31 (Country/Region = Country)
# Phase 1: 2020-02-01 - 2020-02-29 (Country/Region = Country, Province/State=US County)
# Phase 2: 2020-03-01 - 2020-03-09 (Country/Region = Country, Province/State=US County, NEW: Lat Long)
# Phase 3: 2020-03-10 - 2020-03-21 (Country/Region = Country, Province/State=STATE!!!!! - no more county level)
# Phase 4: 2020-03-22 - onwards (NEW: Admin2 (=County), Active)

# Reset last_db_date only for inital load. Then leave it to setting at start
last_db_date = datetime.strptime('01-22-2020',"%m-%d-%Y").date()
yesterday_date = datetime.today().date() + timedelta(days=-1)
loop_date = last_db_date

print("Last Date in DB:", last_db_date)
print("Today's Date:", yesterday_date)

while loop_date <= yesterday_date:
    
    # Change to date format used in .csv files
    file_date = datetime.strftime(loop_date, "%m-%d-%Y")
    
    # Create URL and get data
    url_covid_file = url_covid + file_date + ".csv"
    print("Now processing: " + url_covid_file)
    df_covid_loop = pd.read_csv(url_covid_file)
    df_covid_loop['short_date'] = loop_date
    
    # Create output path for each file and save file locally then append to overall dataframe
    output_path = os.path.join(base_output_path, "df_covid_" + file_date + ".csv")
    df_covid_loop.to_csv(output_path)
    
    # Split 5 different formats based on date
    if loop_date < datetime.strptime('02-01-2020',"%m-%d-%Y").date(): 
        df_covid_phase0 = df_covid_phase0.append(df_covid_loop)
    elif loop_date <= datetime.strptime('02-29-2020',"%m-%d-%Y").date(): 
        df_covid_phase1 = df_covid_phase1.append(df_covid_loop)
    elif loop_date < datetime.strptime('03-10-2020',"%m-%d-%Y").date():
        df_covid_phase2 = df_covid_phase2.append(df_covid_loop)
    elif loop_date < datetime.strptime('03-22-2020',"%m-%d-%Y").date():
        df_covid_phase3 = df_covid_phase3.append(df_covid_loop)
    else:
        df_covid_phase4 = df_covid_phase4.append(df_covid_loop)
        
        
    # Get the next file
    loop_date = loop_date + timedelta(days=1)

In [ ]:
df_covid_phase0.head()

In [ ]:
df_covid_phase0.fillna(0, inplace=True)
df_covid_phase0['Confirmed'] = df_covid_phase0['Confirmed'].astype(int)
df_covid_phase0['Deaths'] = df_covid_phase0['Deaths'].astype(int)
df_covid_phase0['Recovered'] = df_covid_phase0['Recovered'].astype(int)
df_covid_phase0 = df_covid_phase0.rename(columns = {'Province/State':'province_state','Country/Region':'country_region', 'Confirmed':'confirmed','Deaths':'deaths','Recovered':'recovered'})
df_covid_phase0['active'] = 0
df_covid_phase0['latitude'] = 0
df_covid_phase0['longitude'] = 0
df_covid_phase0['us_county'] = ""

df_covid_0 = df_covid_phase0[['province_state','country_region','confirmed','deaths','recovered','active','short_date','latitude','longitude','us_county']]

df_covid_0.head()

In [ ]:
# engine.execute( '''TRUNCATE TABLE covid_data_0''' )    
df_covid_0.to_sql(name='covid_data_0', con=engine, if_exists='append', index=False)

In [ ]:
df_covid_phase1.fillna(0, inplace=True)
df_covid_phase1['Confirmed'] = df_covid_phase1['Confirmed'].astype(int)
df_covid_phase1['Deaths'] = df_covid_phase1['Deaths'].astype(int)
df_covid_phase1['Recovered'] = df_covid_phase1['Recovered'].astype(int)
df_covid_phase1 = df_covid_phase1.rename(columns = {'Province/State':'province_state','Country/Region':'country_region', 'Confirmed':'confirmed','Deaths':'deaths','Recovered':'recovered'})
df_covid_phase1['active'] = 0
df_covid_phase1['latitude'] = 0
df_covid_phase1['longitude'] = 0
df_covid_phase1['us_county'] = ""

df_covid_1 = df_covid_phase1[['province_state','country_region','confirmed','deaths','recovered','active','short_date','latitude','longitude','us_county']]

df_covid_1.head()

In [ ]:
# engine.execute( '''TRUNCATE TABLE covid_data_phase1''' )    
df_covid_1.to_sql(name='covid_data_1', con=engine, if_exists='append', index=False)

In [ ]:
df_covid_phase2.head()

In [ ]:
df_covid_phase2.fillna(0, inplace=True)
df_covid_phase2['Confirmed'] = df_covid_phase2['Confirmed'].astype(int)
df_covid_phase2['Deaths'] = df_covid_phase2['Deaths'].astype(int)
df_covid_phase2['Recovered'] = df_covid_phase2['Recovered'].astype(int)
df_covid_phase2 = df_covid_phase2.rename(columns = {'Province/State':'province_state','Country/Region':'country_region', 'Confirmed':'confirmed','Deaths':'deaths','Recovered':'recovered','Latitude':'latitude','Longitude':'longitude'})
df_covid_phase2['active'] = 0
df_covid_phase2['us_county'] = ""

df_covid_2 = df_covid_phase2[['province_state','country_region','confirmed','deaths','recovered','active','short_date','latitude','longitude','us_county']]

df_covid_2.head()

In [ ]:
# engine.execute( '''TRUNCATE TABLE covid_data_phase2''' )     
df_covid_2.to_sql(name='covid_data_2', con=engine, if_exists='append', index=False)

In [ ]:
df_covid_phase3.head()

In [ ]:
df_covid_phase3.fillna(0, inplace=True)
df_covid_phase3['Confirmed'] = df_covid_phase3['Confirmed'].astype(int)
df_covid_phase3['Deaths'] = df_covid_phase3['Deaths'].astype(int)
df_covid_phase3['Recovered'] = df_covid_phase3['Recovered'].astype(int)
df_covid_phase3 = df_covid_phase3.rename(columns = {'Province/State':'province_state','Country/Region':'country_region', 'Confirmed':'confirmed','Deaths':'deaths','Recovered':'recovered','Latitude':'latitude','Longitude':'longitude'})
df_covid_phase3['active'] = 0
df_covid_phase3['us_county'] = ""

df_covid_3 = df_covid_phase3[['province_state','country_region','confirmed','deaths','recovered','active','short_date','latitude','longitude','us_county']]

df_covid_3.head()

In [ ]:
# engine.execute( '''TRUNCATE TABLE covid_data_phase3''' )     
df_covid_3.to_sql(name='covid_data_3', con=engine, if_exists='append', index=False)

In [ ]:
df_covid_phase4.head()

In [ ]:
df_covid_phase4.fillna(0, inplace=True)
df_covid_phase4['Confirmed'] = df_covid_phase4['Confirmed'].astype(int)
df_covid_phase4['Deaths'] = df_covid_phase4['Deaths'].astype(int)
df_covid_phase4['Recovered'] = df_covid_phase4['Recovered'].astype(int)
df_covid_phase4['Active'] = df_covid_phase4['Active'].astype(int)
df_covid_phase4 = df_covid_phase4.rename(columns = {'Province_State':'province_state','Country_Region':'country_region', 'Confirmed':'confirmed','Deaths':'deaths','Active':'active','Recovered':'recovered','Lat':'latitude','Long_':'longitude','Admin2':'us_county'})

df_covid_4 = df_covid_phase4[['province_state','country_region','confirmed','deaths','recovered','active','short_date','latitude','longitude','us_county']]

df_covid_4.head()

In [ ]:
# engine.execute( '''TRUNCATE TABLE covid_data_phase3''' )        
df_covid_4.to_sql(name='covid_data_4', con=engine, if_exists='append', index=False)

In [ ]:
df_case_study_1 = pd.read_sql('select * from case_study_1_v', con=engine)
df_case_study_1.head()

In [ ]:
df_covid_and_census_by_state_v = pd.read_sql('select * from covid_and_census_by_state_v', con=engine)
df_covid_and_census_by_state_v.head()