In [1]:
from bs4 import BeautifulSoup as bs
from splinter import Browser

import requests 
import pymongo
import pandas as pd
import re
import os
import csv
import json
from config import travelPayoutKey
import pprint
from datetime import datetime, timedelta

In [18]:
file_name = 'output/dataframe_2020-02-17.csv'
my_df = pd.read_csv(file_name).drop(['Unnamed: 0'],axis=1)

In [21]:
my_df.head(1000)

,value,trip_class,show_to_aff,return_date,origin,number_of_changes,gate,found_at,duration,distance,destination,depart_date,actual,snapshot_on
0,9.91,0,True,2020-02-23,GDN,0,Ryanair,2020-02-17T16:06:44.758202,150,498,STO,2020-02-22,True,2020-02-17
1,11.05,0,True,2020-03-16,BTS,0,Ryanair,2020-02-17T01:01:53.529666,155,647,INI,2020-03-06,True,2020-02-17
2,11.05,0,True,2020-03-29,BER,0,Ryanair,2020-02-16T20:20:09.122566,140,471,BLL,2020-03-27,True,2020-02-17
3,11.06,0,True,2020-03-03,DUB,0,Ryanair,2020-02-13T18:47:15.607827,160,431,LON,2020-03-03,True,2020-02-17
4,11.46,0,True,2020-02-29,STO,0,Ryanair,2020-02-14T17:38:21.509279,150,498,GDN,2020-02-25,True,2020-02-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,41.01,0,True,2020-07-01,CEB,0,Trip.com,2020-02-17T05:11:37.555628,170,567,MNL,2020-06-24,True,2020-02-17
996,41.01,0,True,2020-04-30,BOM,0,Trip.com,2020-02-16T03:12:44.304611,165,623,UDR,2020-04-27,True,2020-02-17
997,41.02,0,True,2020-02-25,TOF,0,SuperKassa.ru,2020-02-15T05:20:40.343349,120,336,NOZ,2020-02-20,True,2020-02-17
998,41.04,0,True,2020-04-12,POZ,0,Ryanair,2020-02-17T04:49:09.582602,160,574,LWO,2020-04-05,True,2020-02-17
999,41.07,0,True,2020-10-09,OZH,0,JetCompass,2020-02-17T16:46:32.304920,285,1375,GDN,2020-10-05,True,2020-02-17

In [22]:
# For later. Loop through all the files created
for filename in os.listdir("output"):
    if filename.endswith(".csv"):
         # print(os.path.join(directory, filename))
        print(filename)
        continue
    else:
        continue

dataframe_2020-02-17.csv
dataframe_2020-02-18.csv
new.csv