In [373]:
import pandas as pd
import os
from datetime import datetime, timedelta

In [346]:
# Get test data
url_tests = '../static/data_sources/us_states_covid19_daily.csv'
df_tests = pd.read_csv(url_tests).fillna(0)

# Get COVID data
confirmed_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv'
df_confirmed = pd.read_csv(confirmed_url)
cured_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv'
df_cured = pd.read_csv(cured_url)
deceased_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv'
df_deceased = pd.read_csv(deceased_url)

# Get census data
census_url = '../../acs2017_census_tract_data.csv'
df_census = pd.read_csv(census_url)

# Get political data
url_politics = 'https://en.wikipedia.org/wiki/Political_party_strength_in_U.S._states'
df_tables = pd.read_html(url_politics)

# Get States and Emergency Dates data
url_states = '../static/data_sources/states.csv'
df_states = pd.read_csv(url_states,header=None)

In [347]:
df_tests['positive'] = df_tests['positive'].astype(int)
df_tests['negative'] = df_tests['negative'].astype(int)
df_tests['pending'] = df_tests['pending'].astype(int)
df_tests['hospitalized'] = df_tests['hospitalized'].astype(int)
df_tests['death'] = df_tests['death'].astype(int)
df_tests['date'] = pd.to_datetime(df_tests['date'],  format='%Y%m%d')
df_tests = df_tests.drop('dateChecked', axis=1)
df_tests.head()

        date state  positive  negative  pending  hospitalized  death  total
0 2020-03-22    AK        22       946        0             0      0    968
1 2020-03-22    AL       138      1464        0             0      0   1602
2 2020-03-22    AR       165       711      119            13      0    995
3 2020-03-22    AS         0         0        0             0      0      0
4 2020-03-22    AZ       152       282       87             0      2    521

In [348]:
df_politics = df_tables[3].iloc[:,0:2]
df_politics.rename(columns={'State':'state_name', '2016 presidentialelection':'pol_party'}, inplace=True)
df_states = df_states.drop(0, axis=1)
df_states.rename(columns={1:'state_name', 2 :'state'}, inplace=True)
# df_states.head()

In [349]:
df_confirmed = df_confirmed[df_confirmed['Country/Region']=='US']
df_cured = df_cured[df_cured['Country/Region']=='US']
df_deceased = df_deceased[df_deceased['Country/Region']=='US']

In [350]:
df_confirmed = df_confirmed.melt(id_vars=["Province/State", "Country/Region","Lat","Long"], 
            var_name="Date", 
            value_name="Value")
df_cured = df_cured.melt(id_vars=["Province/State", "Country/Region","Lat","Long"], 
            var_name="Date", 
            value_name="Value")
df_deceased = df_deceased.melt(id_vars=["Province/State", "Country/Region","Lat","Long"], 
            var_name="Date", 
            value_name="Value")
# df_confirmed.head()

In [351]:
df_confirmed.rename(columns={'Province/State':'state_name','Lat':'lat','Long':'long', 'Date':'date','Value':'confirmed'}, inplace=True)
df_confirmed.drop('Country/Region', axis=1)
df_cured.rename(columns={'Province/State':'state_name','Lat':'lat','Long':'long', 'Date':'date','Value':'cured'}, inplace=True)
df_cured.drop('Country/Region', axis=1)
df_deceased.rename(columns={'Province/State':'state_name','Lat':'lat','Long':'long', 'Date':'date','Value':'deceased'}, inplace=True)
df_deceased.drop('Country/Region', axis=1)

# df_confirmed_states.to_csv(output_path)
df_confirmed.head()

         state_name Country/Region  lat  long     date  confirmed
0        Washington             US   47  -121  1/22/20          0
1          New York             US   42   -75  1/22/20          0
2        California             US   36  -120  1/22/20          0
3     Massachusetts             US   42   -72  1/22/20          0
4  Diamond Princess             US   35   140  1/22/20          0

In [352]:
# output_path = os.path.join("../static/output", "df_confirmed.csv")
df_confirmed_states = pd.merge(df_states, df_confirmed, on='state_name')
df_cured_states = pd.merge(df_states, df_cured, on='state_name')
df_deceased_states = pd.merge(df_states, df_deceased, on='state_name')
df_confirmed_states.head()

  state_name state           3 Country/Region  lat  long     date  confirmed
0    Alabama    AL  2020-03-13             US   32   -87  1/22/20          0
1    Alabama    AL  2020-03-13             US   32   -87  1/23/20          0
2    Alabama    AL  2020-03-13             US   32   -87  1/24/20          0
3    Alabama    AL  2020-03-13             US   32   -87  1/25/20          0
4    Alabama    AL  2020-03-13             US   32   -87  1/26/20          0

In [353]:
df_confirmed_states.drop(df_confirmed_states.columns[[3]], axis=1, inplace=True)
# df_confirmed_states['date'] = pd.to_datetime(df_confirmed_states['date']).datetime.strptime(last_date, "%m/%d/%Y")
df_cured_states.drop(df_cured_states.columns[[3]], axis=1, inplace=True)
df_deceased_states.drop(df_deceased_states.columns[[3]], axis=1, inplace=True)
df_confirmed_states.head()

  state_name state           3  lat  long     date  confirmed
0    Alabama    AL  2020-03-13   32   -87  1/22/20          0
1    Alabama    AL  2020-03-13   32   -87  1/23/20          0
2    Alabama    AL  2020-03-13   32   -87  1/24/20          0
3    Alabama    AL  2020-03-13   32   -87  1/25/20          0
4    Alabama    AL  2020-03-13   32   -87  1/26/20          0

In [354]:
df_confirmed_states['date'] = pd.to_datetime(df_confirmed_states['date'], format='%m/%d/%y')
df_cured_states['date'] = pd.to_datetime(df_cured_states['date'], format='%m/%d/%y')
df_deceased_states['date'] = pd.to_datetime(df_deceased_states['date'], format='%m/%d/%y')
df_confirmed_states.head()

  state_name state           3  lat  long       date  confirmed
0    Alabama    AL  2020-03-13   32   -87 2020-01-22          0
1    Alabama    AL  2020-03-13   32   -87 2020-01-23          0
2    Alabama    AL  2020-03-13   32   -87 2020-01-24          0
3    Alabama    AL  2020-03-13   32   -87 2020-01-25          0
4    Alabama    AL  2020-03-13   32   -87 2020-01-26          0

In [355]:
df_confirmed_states = df_confirmed_states.set_index(['date', 'state','state_name'])
df_cured_states = df_cured_states.set_index(['date', 'state','state_name'])
df_deceased_states = df_deceased_states.set_index(['date', 'state','state_name'])

df_merged = pd.merge(df_confirmed_states, df_cured_states, how='left', on=['date', 'state', 'state_name','lat','long',3])
df_merged = pd.merge(df_merged, df_deceased_states,how='left', on=['date', 'state','state_name','lat','long',3])
df_merged.rename(columns={3:'emergency_date'}, inplace=True)

In [356]:
df_merged.head()
df_merged = df_merged.reset_index()

In [357]:
df_merged_shuffle = df_merged[['state_name','date','state','lat','long','confirmed','cured','deceased','emergency_date']]

In [358]:
output_path = os.path.join("../static/output", "all_merged.csv")
df_merged.to_csv(output_path)

In [359]:
df_total_1 = pd.merge(df_merged, df_politics, how='left', on=['state_name'])
df_total_1.head()

,date,state,state_name,emergency_date,lat,long,confirmed,cured,deceased,pol_party
0,2020-01-22,AL,Alabama,2020-03-13,32,-87,0,0,0,Republican
1,2020-01-23,AL,Alabama,2020-03-13,32,-87,0,0,0,Republican
2,2020-01-24,AL,Alabama,2020-03-13,32,-87,0,0,0,Republican
3,2020-01-25,AL,Alabama,2020-03-13,32,-87,0,0,0,Republican
4,2020-01-26,AL,Alabama,2020-03-13,32,-87,0,0,0,Republican

In [360]:
df_total_2 = pd.merge(df_total_1, df_tests, how='left', on=['date','state'])
df_total_2.fillna(0)

,date,state,state_name,emergency_date,lat,long,confirmed,cured,deceased,pol_party,positive,negative,pending,hospitalized,death,total
0,2020-01-22,AL,Alabama,2020-03-13,32,-87,0,0,0,Republican,0,0,0,0,0,0
1,2020-01-23,AL,Alabama,2020-03-13,32,-87,0,0,0,Republican,0,0,0,0,0,0
2,2020-01-24,AL,Alabama,2020-03-13,32,-87,0,0,0,Republican,0,0,0,0,0,0
3,2020-01-25,AL,Alabama,2020-03-13,32,-87,0,0,0,Republican,0,0,0,0,0,0
4,2020-01-26,AL,Alabama,2020-03-13,32,-87,0,0,0,Republican,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3106,2020-03-18,WY,Wyoming,2020-03-13,43,-107,15,0,0,Republican,15,178,0,0,0,193
3107,2020-03-19,WY,Wyoming,2020-03-13,43,-107,18,0,0,Republican,18,271,0,0,0,289
3108,2020-03-20,WY,Wyoming,2020-03-13,43,-107,19,0,0,Republican,19,331,0,0,0,350
3109,2020-03-21,WY,Wyoming,2020-03-13,43,-107,23,0,0,Republican,23,438,0,0,0,461
3110,2020-03-22,WY,Wyoming,2020-03-13,43,-107,24,0,0,Republican,24,438,0,0,0,462

In [361]:
df_total_2['positive'] = pd.to_numeric(df_total_2['positive'].fillna(0)).astype(int)
df_total_2['negative'] = pd.to_numeric(df_total_2['negative'].fillna(0)).astype(int)
df_total_2['pending'] = pd.to_numeric(df_total_2['pending'].fillna(0)).astype(int)
df_total_2['hospitalized'] = pd.to_numeric(df_total_2['hospitalized'].fillna(0)).astype(int)
df_total_2['death'] = pd.to_numeric(df_total_2['death'].fillna(0)).astype(int)
df_total_2['total'] = pd.to_numeric(df_total_2['total'].fillna(0)).astype(int)
df_total_2.head()

,date,state,state_name,emergency_date,lat,long,confirmed,cured,deceased,pol_party,positive,negative,pending,hospitalized,death,total
0,2020-01-22,AL,Alabama,2020-03-13,32,-87,0,0,0,Republican,0,0,0,0,0,0
1,2020-01-23,AL,Alabama,2020-03-13,32,-87,0,0,0,Republican,0,0,0,0,0,0
2,2020-01-24,AL,Alabama,2020-03-13,32,-87,0,0,0,Republican,0,0,0,0,0,0
3,2020-01-25,AL,Alabama,2020-03-13,32,-87,0,0,0,Republican,0,0,0,0,0,0
4,2020-01-26,AL,Alabama,2020-03-13,32,-87,0,0,0,Republican,0,0,0,0,0,0

In [362]:
df_census.head()

,TractId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga County,1845,899,946,2,86,5,0,...,0,0,2,24,881,74,21,4,0,5
1,1001020200,Alabama,Autauga County,2172,1167,1005,1,42,54,0,...,0,0,0,22,852,76,15,9,0,3
2,1001020300,Alabama,Autauga County,3385,1533,1852,8,61,26,1,...,1,1,2,23,1482,73,21,5,1,5
3,1001020400,Alabama,Autauga County,4267,2001,2266,10,80,7,0,...,2,3,2,26,1849,76,20,4,0,6
4,1001020500,Alabama,Autauga County,9965,5054,4911,1,78,16,0,...,1,0,1,21,4787,71,24,4,0,2

In [365]:
df_census = df_census.rename(columns=({'State':'state_name'}))
df_census['hispanic'] = round(df_census['Hispanic']*df_census['TotalPop']/100)
df_census['white'] = round(df_census['White']*df_census['TotalPop']/100)
df_census['black'] = round(df_census['Black']*df_census['TotalPop']/100)
df_census['native'] = round(df_census['Native']*df_census['TotalPop']/100)
df_census['asian'] = round(df_census['Asian']*df_census['TotalPop']/100)
df_census['pacific'] = round(df_census['Pacific']*df_census['TotalPop']/100)
df_census['income'] = round(df_census['IncomePerCap']*df_census['TotalPop'])
df_census['poverty'] = round(df_census['Poverty']*df_census['TotalPop']/100)

pd.options.display.float_format = '{:,.0f}'.format

In [366]:
df_census.head()

,TractId,state_name,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,FamilyWork,Unemployment,hispanic,white,black,native,asian,pacific,income,poverty
0,1001020100,Alabama,Autauga County,1845,899,946,2,86,5,0,...,0,5,44,"1,592",96,0,22,0,"60,918,210",197
1,1001020200,Alabama,Autauga County,2172,1167,1005,1,42,54,0,...,0,3,24,904,"1,184",0,22,0,"41,259,312",487
2,1001020300,Alabama,Autauga County,3385,1533,1852,8,61,26,1,...,1,5,271,"2,078",897,20,24,14,"71,883,860",498
3,1001020400,Alabama,Autauga County,4267,2001,2266,10,80,7,0,...,0,6,410,"3,426",303,21,9,0,"119,766,156",98
4,1001020500,Alabama,Autauga County,9965,5054,4911,1,78,16,0,...,0,2,90,"7,723","1,634",0,309,0,"367,758,325","1,216"

In [367]:
df_census_gb = df_census.groupby('state_name')
df_census_aggr = df_census_gb.agg({
    'TotalPop': 'sum',
    'Men': 'sum',
    'Women': 'sum',
    'hispanic':'sum',
    'white':'sum',
    'black':'sum',
    'native':'sum',
    'asian':'sum',
    'pacific':'sum',
    'Employed':'sum',
    'Income': 'sum',
    'Poverty': 'sum'
})

In [368]:
df_census_aggr

,TotalPop,Men,Women,hispanic,white,black,native,asian,pacific,Employed,Income,Poverty
state_name,,,,,,,,,,,,
Alabama,4850771,2350806,2499965,"198,306","3,198,112","1,281,049","22,595","62,036","1,456",2055509,"53,931,462","23,975"
Alaska,738565,386319,352246,"50,193","454,495","22,572","101,687","44,745","8,795",354045,"12,176,465","1,844"
Arizona,6809946,3385055,3424891,"2,103,476","3,786,436","276,092","266,620","207,272","12,009",2953891,"87,359,329","26,559"
Arkansas,2977944,1461651,1516293,"213,263","2,174,304","457,156","16,962","41,887","6,981",1276536,"30,219,518","13,387"
California,38982847,19366579,19616268,"15,105,839","14,777,803","2,161,560","137,749","5,427,935","138,214",17993915,"581,498,746","123,077"
Colorado,5436519,2731315,2705204,"1,157,253","3,731,912","209,843","28,673","161,796","7,460",2760076,"85,741,898","15,141"
Connecticut,3594478,1754046,1840432,"551,956","2,446,086","350,892","5,176","154,963",664,1805086,"64,812,649","9,292"
Delaware,943732,456876,486856,"84,766","594,889","201,469","2,876","36,085",204,441513,"13,762,455","2,830"
District of Columbia,672391,319046,353345,"71,809","241,908","315,165","1,149","25,080",246,357701,"14,679,725","3,323"
Florida,20278447,9914361,10364086,"5,014,921","11,125,030","3,129,456","41,765","533,586","10,216",9018570,"225,193,952","66,930"
Georgia,10201635,4968887,5232748,"950,378","5,469,389","3,150,536","18,163","386,636","4,603",4606329,"106,677,160","37,478"
Hawaii,1421658,713981,707677,"145,403","316,084","23,979","1,759","526,213","131,400",671758,"24,719,341","3,269"
Idaho,1657375,830627,826748,"201,940","1,368,101","10,676","17,896","21,934","1,992",748658,"15,295,823","4,584"
Illinois,12854526,6312600,6541926,"2,162,067","7,955,507","1,806,409","14,476","666,879","2,986",6181653,"196,917,233","48,371"
Indiana,6614418,3258279,3356139,"441,960","5,280,624","604,175","12,131","136,641","1,971",3124295,"77,748,194","25,578"
Iowa,3118102,1548035,1570067,"178,333","2,697,257","104,148","8,626","70,780","2,695",1599718,"46,234,314","10,505"
Kansas,2903820,1445980,1457840,"334,886","2,220,314","163,526","19,222","80,182","1,680",1420045,"43,107,591","10,735"
Kentucky,4424376,2179025,2245351,"152,033","3,764,438","348,482","8,076","59,249","2,037",1938150,"52,916,615","21,854"
Louisiana,4663461,2281239,2382222,"231,693","2,752,316","1,490,038","24,771","80,545","1,169",2031238,"52,574,051","24,539"
Maine,1330158,651040,679118,"20,436","1,244,902","16,059","7,647","14,640",236,658693,"18,535,284","4,941"
Maryland,5996079,2906277,3089802,"573,245","3,109,284","1,754,175","11,584","370,679","2,464",3040792,"114,336,768","14,937"
Massachusetts,6789319,3293426,3495893,"760,127","4,952,428","453,699","8,831","424,203","1,686",3525672,"114,342,773","17,885"
Michigan,9925568,4880579,5044989,"484,596","7,493,357","1,359,269","44,207","287,801","2,356",4524874,"149,540,004","48,510"
Minnesota,5490726,2731831,2758895,"284,729","4,434,474","321,561","52,026","254,536","1,620",2904103,"89,398,023","15,128"
Mississippi,2986220,1448717,1537503,"88,287","1,702,297","1,118,390","12,560","28,759",569,1221828,"27,158,212","15,724"
Missouri,6075300,2981332,3093968,"244,449","4,849,070","698,191","22,764","111,747","5,761",2867393,"73,574,204","22,647"
Montana,1029862,517860,512002,"36,597","891,982","4,052","64,222","7,269",536,497995,"13,725,981","4,052"
Nebraska,1893921,943547,950374,"198,316","1,512,054","87,279","13,089","41,924","1,361",987216,"31,297,313","6,690"
Nevada,2887725,1450091,1437634,"814,316","1,457,277","242,652","24,420","228,214","17,547",1341358,"39,880,383","9,917"
New Hampshire,1331848,659131,672717,"45,271","1,211,084","16,136","1,881","33,024",239,713424,"21,421,205","2,588"
New Jersey,8960161,4372321,4587840,"1,764,469","5,023,451","1,136,229","9,275","838,781","2,109",4388024,"161,423,554","22,853"
New Mexico,2084828,1032086,1052742,"1,004,093","795,730","37,344","181,381","27,989",932,879201,"24,373,089","10,221"
New York,19798228,9604111,10194117,"3,726,408","11,071,546","2,842,849","45,609","1,639,361","5,667",9467631,"327,684,127","75,314"
North Carolina,10052564,4895368,5157196,"914,748","6,397,405","2,127,337","109,069","267,021","5,188",4571020,"115,161,589","37,049"
North Dakota,745475,382121,363354,"24,733","638,758","17,024","38,663","10,052",310,400454,"12,673,676","2,353"
Ohio,11609756,5686081,5923675,"414,493","9,243,168","1,408,697","17,014","234,304","3,072",5488180,"155,550,351","52,372"
Oklahoma,3896251,1930615,1965636,"394,888","2,589,172","278,868","276,616","79,348","5,177",1746419,"52,668,812","18,577"
Oregon,4025127,1993822,2031305,"509,503","3,079,998","72,604","34,890","164,506","14,516",1885983,"49,099,670","12,503"
Pennsylvania,12790505,6260160,6530345,"874,849","9,881,188","1,358,273","14,274","414,422","2,236",6096977,"189,200,917","46,118"
Puerto Rico,3468963,1653997,1814966,"3,432,610","26,458","2,719",86,"2,215",51,1040136,"18,555,834","40,929"
Rhode Island,1056138,512581,543557,"153,904","773,394","57,849","3,916","35,014",698,526071,"15,137,237","3,393"
South Carolina,4893444,2376759,2516685,"267,436","3,119,667","1,321,194","13,441","71,187","2,769",2181046,"53,375,116","19,760"
South Dakota,855444,430587,424857,"29,900","707,315","14,309","71,106","11,617",331,438339,"12,174,432","3,233"
Tennessee,6597381,3217073,3380308,"340,144","4,898,915","1,099,097","15,066","109,883","3,363",2996610,"74,232,457","26,910"
Texas,27419612,13616977,13802635,"10,674,235","11,755,563","3,198,871","65,698","1,223,018","20,122",12689069,"309,825,781","90,439"
Utah,2993941,1506614,1487327,"409,252","2,365,229","31,681","28,211","66,574","26,245",1412214,"39,974,092","6,967"
Vermont,624636,308026,316610,"11,186","582,427","7,529","1,844","9,641",160,327264,"10,657,995","2,115"
Virginia,8365952,4113988,4251964,"749,405","5,238,996","1,576,032","17,556","516,094","4,631",4084035,"142,322,173","22,896"
Washington,7169967,3580888,3589079,"882,053","5,001,551","251,567","79,834","573,508","44,442",3418123,"100,782,178","18,436"
West Virginia,1836843,907621,929222,"26,998","1,694,885","64,462","3,172","13,853",503,746958,"21,278,815","9,403"
Wisconsin,5763217,2864115,2899102,"380,650","4,715,136","359,003","45,959","151,366","1,506",2939880,"79,425,700","19,524"
Wyoming,583200,298301,284899,"56,644","491,653","5,798","11,963","4,904",366,293633,"7,959,285","1,537"

In [369]:
df_total_3 = pd.merge(df_total_2, df_census_aggr, how='left', on=['state_name'])

In [376]:
# df_check = df_total_3[df_total_3['state']=='MO']
df_check = df_total_3[df_total_3['date']=='2020-03-22']

df_check.head()

,date,state,state_name,emergency_date,lat,long,confirmed,cured,deceased,pol_party,...,Women,hispanic,white,black,native,asian,pacific,Employed,Income,Poverty
60,2020-03-22,AL,Alabama,2020-03-13,32,-87,138,0,0,Republican,...,2499965,"198,306","3,198,112","1,281,049","22,595","62,036","1,456",2055509,"53,931,462","23,975"
121,2020-03-22,AK,Alaska,2020-03-11,61,-152,21,0,0,Republican,...,352246,"50,193","454,495","22,572","101,687","44,745","8,795",354045,"12,176,465","1,844"
182,2020-03-22,AZ,Arizona,2020-03-11,34,-111,152,0,2,Republican,...,3424891,"2,103,476","3,786,436","276,092","266,620","207,272","12,009",2953891,"87,359,329","26,559"
243,2020-03-22,AR,Arkansas,2020-03-11,35,-92,165,0,0,Republican,...,1516293,"213,263","2,174,304","457,156","16,962","41,887","6,981",1276536,"30,219,518","13,387"
304,2020-03-22,CA,California,2020-03-04,36,-120,1642,0,30,Democratic,...,19616268,"15,105,839","14,777,803","2,161,560","137,749","5,427,935","138,214",17993915,"581,498,746","123,077"